@media screen and (max-width:480px){


    .phone{
        display: block;
    }

    header{
        width:100%;
    }

    .header-left img{
        margin-left: 25px;
    }

    .header-left h3{
        font-size: 20px;
        border-bottom: 1px solid white;
        padding-top: 25px;
        padding-left: 0;
        margin-left: 10px;
    }

    .news-label{
        display: block;
        background-image: url(/img/news_top_img.jpg);
        background-size: contain;
        width: 100%;
        height: 85px;
    }

    

    .swich-wrapper{
        display: none;
    }

    .news-wrapper{
        width: 100%;
        border-top: none;
        background-size: contain;
    }

    .news-text{
        width: 100%;
        padding-bottom: 20px;
    }

    .news-text h1{
        font-size: 18px;
        line-height: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: rgba(255, 255, 255, 0.896);
        color: black;
    }
    .news-text h1 span{
        font-size: 25px;
        margin-left: 0;
    }

    .news-text h2{
        font-size: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .news-text p{
        font-size: 13px;
        width: 100%;
        line-height: 20px;
        padding: 30px 10px 0 10px;
    }

    .news-img img{
        margin: 20px 5px 0 5px;
    }
    .img1 img{
        width: 101px;
        height: 179px;
    }

    .allow{
        padding-top: 80px;
    }

    .allow img{
        width: 60px;
        height: 30px;
    }
    .img3 img{
        width: 92px;
        height: 182px;
    }


    .iphone-swich{
        display: block;
        width: 100%;
        background-color: white;
    }
    .iphone-switchlist{
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        border: 3px solid black;
    }
    
    .iphone-switchlist li{
        width: 33.33%;
        height: 72px;
        border: 1px solid black;
        list-style: none;
    }



    footer{
        width: 100%;
    }






}
