* {
    box-sizing: border-box;
    margin: 0;
    float: none;
	position: static;
    list-style: none;
}

.phone{
    display: none;
}



header{
    background-color: black;
    height: 80px;
    width: 1440px;
    
}
.header-left img{
    float: left;
    margin-top: 6px;
    margin-left: 20px;
}
.header-left h3{
    color: white;
    float: left;
    padding-top: 28px;
    padding-left: 20px;
}


.swich-wrapper{
    background-color: grey;
    text-align: center;
    width: 1440px;
    border-bottom: 10px solid black;
   
}
.swich-wrapper a{
    padding: 20px 75px;
    background-color: white;
    display: inline-block;
    color: black;
    opacity: 0.6;
    font-size: 20px;
    transition: 0.3s;
    font-family: "Arial Black";   
}

.swich-wrapper a:hover{
    opacity: 1;
}


.news-wrapper{
    background-image: url(/img/back_ground.jpg);
    background-size: cover;
    height: 100%;
    width: 1440px;
}

.news-text{
    background-color:rgba(0, 0, 0, 0.814);
    width: 1200px;
    margin: auto;
    height: 100%;
    text-align: center;
    padding-bottom: 50px;
}
.news-text h1{
    color: azure;
    padding-top: 50px;
    font-size: 20px;
    font-family: "azuki_font";
}
.news-text h1 span{
    font-size: 40px;
    margin-left: 30px;
}
.news-text p{
    color: white;
    font-size: 20px;
    padding: 50px 30px 0 30px;
    line-height: 35px;
}
.news-text h2{
    color: white;
    padding: 30px 0;
    font-size: 40px;
    font-family: "azuki_font";
}


.news-img{
    padding-left: 0;
    display: flex;
    justify-content: center;
}
.news-img img{
    margin: 20px 15px 0 15px;
}

.allow{
    padding-top: 150px;
}


.news-img h3{
    color: white;
}


footer{
    width: 1440px;
    height: 80px;
}

.fotter-logo p{
    background-color: black;
    color: white;
    text-align: center;
    line-height: 80px;
}
